.alphabet {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    margin-bottom: 1em;

    li {
        cursor: pointer;
        padding: 0.5em;
    }
}