.country-list-container {
    padding: 1em;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    background-color: whitesmoke;

    &__heading {
        margin-bottom: 0.5em;
        color: #007acc;
        font-size: 2em;
    }
}

.country-list {
    margin-bottom: 2em;

    &__item {
        a {
            text-decoration: none;
            font-size: 1em;
            line-height: 2;
        }
    }
}

@media only screen and (min-width: 550px) {

    .country-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}
