.table {
    margin-bottom: 2em;
    
    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0.8em;
    }

    &__row:nth-child(odd) {
        background-color: whitesmoke;
    }

    &__heading {
        font-weight: bold;
    }
}

.flag {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    
    img {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .table {
        margin-bottom: 0;
        margin-left: 2em;
        
    }
}