.home-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1em;

    div {
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 771px) {

    .home-wrapper {
        max-width: 46.25em;
        margin: 1em auto;
    }

}