.country-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin: 1em;
}

@media only screen and (min-width: 768px) {
    .country-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1000px) {
    .country-wrapper {
        max-width: 62.5em;
        margin: 1em auto;
    }
}