.googlemap-container {
    height: 25em;
    width: 100%;
}

.google-map {
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .googlemap-container {
        height: 100%;
    }
}
